
body{
    padding-top: 60px;
    padding-bottom: 40px;
}
    
#portfolioBoardImage{
	display: block;
}

#portfolioBoardHeadings{
	font-family: "Futura", sans-serif;
	text-align: center;
}

#portfolioBoardTitle{
	font-family: "Futura", sans-serif;
	text-align: center;
	color: #444;
	font-size: 16px;
	margin-bottom: 3px;
}

#portfolioBoardText{
	font-family: sans-serif;
	text-align: left;
	color: #444;
	font-size: 11px;
	line-height: 120%;
	padding-left: 25px;
	padding-right: 25px;
}

#siteTitle{
	font-family: "Rockwell", serif;
	font-variant: small-caps;
	color: #777;
	/*margin-top: 5px;*/
	/*margin-bottom: 10px;*/
}

#categoryLinks{
	font-family: "Futura", sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	margin-left: 5px;

}

#categoryLinksSelected{
	font-family: "Futura", sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: orange;
	margin-left: 5px;

}

#subheading{
	font-family: "Futura", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ff4500;
}


#portfolioItem{
	/*border-style: none;*/
	border-radius: 3px;
}
